.hamburger-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .hamburger-line {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    margin-bottom: 4px;
  }
  
  /* Additional styles when the dropdown is open */
  .hamburger-line.open {
    background-color: #fff;
  }
  
  .hamburger-line.open:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-line.open:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
  .hamburger-line.open:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  