@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom CSS styles here */
.html {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .html {
    background-color: gray;
  }
  @media (max-width: 788px) {
    .html {
      max-width: 788px;
    }
  }
}
